.Header{
    border-bottom:1px solid #E8E8E8;
    padding: 1.5rem 0 1.5rem 0;
}
.headerWrapper{
    margin: 0 auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-around;


}
.headerWrapper  .headerNav .navUl{
    display: flex;
    text-align: center;
    gap:3rem;
}
.navUl .linkA{
    color:#18191F;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s ease-in;
}
.navUl .linkA:hover{
    color:#4caf4f;
    transition: 0.3s ease-in-out;
}

.headerWrapper  .headerBtns .ulBtns{
    display: flex;
    gap:3rem;
}
.headerBtns .ulBtns .logBtn{
    padding: 12px 18px;
    border-radius: 10px;
    background-color: #F5F7FA;
    color: #4CAF4F;
    transition: 0.3s ease-in;
}
.headerBtns .ulBtns .logBtn:hover{
    color:#F5F7FA;
    background-color: #4CAF4F;
    transition: 0.3s ease-in-out;
}
.headerBtns .ulBtns .regBtn{
    padding: 12px 16px;
    border-radius: 10px;
    color: #F5F7FA;
    background-color: #4CAF4F;
    transition: 0.3s ease-in;
}
.headerBtns .ulBtns .regBtn:hover{
    color: #4CAF4F;
    background-color: #F5F7FA;
    transition: 0.3s ease-in-out;
}
#buttonMobile{
    display: none;
}
@media(max-width:600px){
    .headerNav{
        display: none;
    }
    #menuIcons{
        width: 20px;
        height: 20px;
    }
    #buttonMobule{
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        cursor:pointer;
        height: 28px;
        width: 28px;
    }
    .active  .headerNav{
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        width: 100%;
        background-color: #00000077;
    }
    .navUl .navLi{
        padding: 1rem;
    }
    .active .navUl{
        flex-direction: column;
        align-items: center;
    }
    .headerBtns{
        display: nome;
    }

}
